.gallery-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    padding-bottom: 5em;
    // padding-top: .5rem;
}

.gallery-item {
  background-color: rgba(255, 255, 255, .5);
  // border: .1rem solid #ebebeb;
  margin: 1rem 12rem 3rem 12rem;
  padding: 2rem;
}

.gallery-image {
    // width: 80%;
    // display: block;
    // filter: drop-shadow(4px 4px 6px rgb(190, 190, 190));
    // height: 20em;
    margin: 0 0 1rem 0;
    // z-index: -1;
}

.gallery-item.persistentSquare, .gallery-item.squareDesktop, .gallery-item.postcardDesktop {
  margin: 1rem 18rem 3rem 18rem;
  // padding: 0 3rem;
} 

.image-caption {
  color:#595F5F;
  font-size: .85rem;
  margin: 0;
}

.image-subtitle {
  margin: 0 0 .5rem 0;
}

.image-title {
  margin: 0 0 2rem 0;
}

.contributions {
  margin: .5em .5em 2em .5em;
  font-size: .9em;
}

@media screen and (max-width: 992px) {
    .gallery-item {
      margin: 1rem 5rem 3rem 5rem;
    }

    .image-title {
      margin: 0 0 2rem 0;
    }

    .gallery-item.persistentSquare, .gallery-item.squareDesktop, .gallery-item.postcardDesktop {
      margin: 1rem 11rem 3rem 11rem;
    } 
  }

@media screen and (max-width: 768px) {
  .gallery-item {
    margin: 1rem 0rem 3rem 0rem;
    padding: 1rem;
  }

  .image-title {
    margin: 0 0 1rem 0;
  }

  .gallery-item.persistentSquare, .gallery-item.squareDesktop, .gallery-item.postcardDesktop {
    margin: 1rem 4rem 3rem 4rem;
  } 
}

@media screen and (max-width: 480px) {
  .gallery-image.tallMobile {
    height: 640px;
  }  

  .gallery-image.none {
    height: 400px;
  }

  .gallery-item.persistentSquare, .gallery-item.squareDesktop, .gallery-item.postcardDesktop {
    margin: 1rem 0rem 3rem 0rem;
  } 

}