@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

$dark-blue: #011138;
$white: #EBEFF3;
$grey: #454A4A;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas;
$font-family-sans: 'Roboto', Helvetica, sans-serif;

html {
    background-color: $white;
    color: $grey;
    font-family: $font-family-sans; 
    text-align: center;

    p, ul, li {
      letter-spacing: .1rem;
    }

    h2 {
      font-size: 1.2rem;
      font-weight: 500;
      letter-spacing: .08rem;
    }

    p {
      font-size: .95rem;
      font-weight: 600;
      line-height: 1.4rem;
    }

    span {
      font-size: 3em;
    }

      .header {
        background-color: $white;
      }

      a:link[aria-current = 'page'] {
        text-decoration: underline;
        text-underline-offset: .3em;
      }

      a:link {
        color: $grey;
        font-weight: 500;
        text-decoration: none;

      }
      
      /* visited link */
      a:visited {
        color: $grey;
        text-decoration: underline;
        text-underline-offset: .3em;
      }
      
      /* mouse over link */
      a:hover {
        color: $grey;
        text-decoration: underline;
        text-underline-offset: .3em;
      }
      
      /* mouse down */
      a:active {
        color: $grey;
        font-weight: 300;
        text-decoration: underline;
        text-underline-offset: .3em;
      }

      .active {
        color: $grey;
        font-weight: 300;
        text-decoration: underline;
        text-underline-offset: .3em;
      }

      [href]:focus:not(:active) {
        outline: $grey .1em solid;
      }

      .vh {
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
      }

      nav {
        background-color: $white;
        right: 0;
        top: 0;
        left: 0;
        margin: 0;
        padding: 2rem 0 0 0;

        .logo {
          width: 10em;
        }

        .home {
          display: block;
          width: max-content;
          margin: 0 auto;
        }

        .navigationGroup {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          padding: 0;  
          margin: 0;   
          list-style-type: none;
          
          .navItem {
            font-size: 1.2em;
            margin: 0;
            padding: .8em;
        }

      }

      }
  }