html {

    body {
        margin: 0;
    }

    .homeImage {
        background-image: url(../data/covers/poppies_painting_hero_vert.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: fixed;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        // opacity: 0.2;
    }

    .homeContent {

        background-color: #EBEFF3;
        margin: 1.5em auto;
        padding: 1em;
        max-width: 60%;
        // filter: drop-shadow(4px 4px 6px grey);

        .bio {
            max-width: 22em;
            color: #454A4A;
            font-size: 1.1em;
            font-weight: 700;
            line-height: 1.5em;
            // padding: .8em;
            margin-bottom: 0;
            word-wrap : break-word;
            margin-left: auto;
            margin-right: auto;
        }
        
        .contact {
            list-style-type: none;
            padding: 0;
            // margin: 0;
            
            .contactItem {
                padding: 1em;
            }
        }

        .profile-picture {
            width: 10em;
            // filter: drop-shadow(2px 2px 4px grey);
        }

    }

}